body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f0f0f0, #d3d3d3); /* Light to medium grey gradient */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
    .container {
      text-align: center;
    }
  
    h1 {
      color: darkblue;
    }
  
    form {
      margin-top: 20px;
      max-width: 300px; 
      margin-left: auto;
      margin-right: auto;
    }
  
    input {
      width: calc(100% - 20px); 
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    button {
      width: 100%;
      padding: 12px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button:hover {
      background-color:#3498db;
    }
  
  
    .signInText,.signUpText {
      color: #3498db;
    }
  
    .signIn,.signUp {
      display: inline-block;
    }
  
    .signIn:hover,.signUp:hover {
      color: black;
    }
  
    .error{
      color:red;
      text-align: left; 
    }